*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    
}
header{
display:flex;
width : 1600px;

}
h1{
   font-size: 45px; 
}

.header_logo {
    display:inline-flex;
    justify-content: center;
    width: 20%;
    flex-direction:row;
}
.fa {
    display: flex;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   
}

nav {
    
    width: 40%;

}
ul.menu {
    display: flex;
    flex-direction: row;
}
li.menu {
    text-decoration: none;
}
.baner_img{
    width: 100%;
}
header, #first {
    background-color: #eeedf5;
}
#first{
    display: flex;
    width: 100%;
    height: 100vh;
    
}
.secfirst_box{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: center;
    align-items: center;
    text-align: left;

}
#button{
    width: 150px;
    padding: 5px 5px;
    border-radius: 15px;
}
.secfirst_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}